business-workflows/rto-pattern-analysis/rto_pattern_analysis_workflow.json
{
  "name": "RTO Pattern Analysis",
  "nodes": [
    {
      "parameters": {},
      "id": "ca607199-46b7-47f8-9ca8-1fcca7507ecf",
      "name": "When clicking \"Execute workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Replace this node with your own source (courier delivery report, Google Sheets, HTTP Request, etc.)\n// Include ALL shipments (Delivered and RTO), not just the RTO ones - the rate calculation needs both.\nconst shipments = [\n  { awb: \"AWB3001\", pincode: \"560001\", sku: \"SKU-2001\", status: \"Delivered\" },\n  { awb: \"AWB3002\", pincode: \"560001\", sku: \"SKU-2002\", status: \"Delivered\" },\n  { awb: \"AWB3003\", pincode: \"560001\", sku: \"SKU-2001\", status: \"RTO\", rtoReason: \"Customer Refused\" },\n  { awb: \"AWB3004\", pincode: \"560002\", sku: \"SKU-2003\", status: \"Delivered\" },\n  { awb: \"AWB3005\", pincode: \"560002\", sku: \"SKU-2003\", status: \"RTO\", rtoReason: \"Address Not Found\" },\n  { awb: \"AWB3006\", pincode: \"560002\", sku: \"SKU-2004\", status: \"RTO\", rtoReason: \"Address Not Found\" },\n  { awb: \"AWB3007\", pincode: \"560002\", sku: \"SKU-2001\", status: \"RTO\", rtoReason: \"Customer Refused\" },\n  { awb: \"AWB3008\", pincode: \"560003\", sku: \"SKU-2005\", status: \"Delivered\" },\n  { awb: \"AWB3009\", pincode: \"560003\", sku: \"SKU-2005\", status: \"Delivered\" },\n  { awb: \"AWB3010\", pincode: \"560003\", sku: \"SKU-2006\", status: \"Delivered\" },\n  { awb: \"AWB3011\", pincode: \"560001\", sku: \"SKU-2002\", status: \"RTO\", rtoReason: \"COD Not Ready\" },\n  { awb: \"AWB3012\", pincode: \"560002\", sku: \"SKU-2004\", status: \"Delivered\" },\n];\nreturn shipments.map(s => ({ json: s }));"
      },
      "id": "fbaa898d-7384-42c1-af0d-765396180152",
      "name": "Sample Shipment Outcomes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        40,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// EDIT THIS: RTO rate above which a pincode/SKU gets flagged for review\nconst RTO_RATE_THRESHOLD = 0.30;\n\nconst items = $input.all().map(i => i.json);\n\nfunction groupRate(key) {\n  const groups = {};\n  items.forEach(s => {\n    groups[s[key]] = groups[s[key]] || { total: 0, rto: 0 };\n    groups[s[key]].total += 1;\n    if (s.status === \"RTO\") groups[s[key]].rto += 1;\n  });\n  return Object.entries(groups).map(([value, g]) => ({\n    [key]: value,\n    totalShipments: g.total,\n    rtoShipments: g.rto,\n    rtoRate: Math.round((g.rto / g.total) * 1000) / 1000,\n    flagged: (g.rto / g.total) >= RTO_RATE_THRESHOLD,\n  }));\n}\n\nconst pincodeBreakdown = groupRate(\"pincode\");\nconst skuBreakdown = groupRate(\"sku\");\n\nconst reasonCounts = {};\nitems.filter(s => s.status === \"RTO\").forEach(s => {\n  reasonCounts[s.rtoReason] = (reasonCounts[s.rtoReason] || 0) + 1;\n});\nconst reasonBreakdown = Object.entries(reasonCounts).map(([reason, count]) => ({ reason, count }));\n\nreturn [{ json: { pincodeBreakdown, skuBreakdown, reasonBreakdown } }];"
      },
      "id": "bd91cdec-ed0a-4df0-a42c-0432863c2714",
      "name": "Analyze RTO Patterns",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst flaggedPincodes = data.pincodeBreakdown.filter(p => p.flagged);\nconst flaggedSkus = data.skuBreakdown.filter(s => s.flagged);\nreturn [{ json: { flaggedPincodes, flaggedSkus } }];"
      },
      "id": "f8dad6ca-dbe1-4858-871d-a465ae9d8143",
      "name": "Filter: Flagged Pincodes/SKUs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const outcomes = $(\"Sample Shipment Outcomes\").all().map(i => i.json);\nconst analysis = $(\"Analyze RTO Patterns\").first().json;\nconst totalShipments = outcomes.length;\nconst totalRto = outcomes.filter(s => s.status === \"RTO\").length;\nconst overallRtoRate = Math.round((totalRto / totalShipments) * 1000) / 1000;\nreturn [{ json: {\n  totalShipments,\n  totalRto,\n  overallRtoRate,\n  topRtoReasons: analysis.reasonBreakdown.sort((a,b)=>b.count-a.count),\n  flaggedPincodes: analysis.pincodeBreakdown.filter(p => p.flagged),\n  flaggedSkus: analysis.skuBreakdown.filter(s => s.flagged),\n}}];"
      },
      "id": "2ba7ed7a-a8b8-4f4f-9ee1-b73472db00ea",
      "name": "Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        440
      ]
    },
    {
      "parameters": {
        "content": "## RTO Pattern Analysis\n\nAnalyzes delivered vs. returned-to-origin (RTO) shipments to flag pincodes and SKUs with an unusually high RTO rate, and breaks down RTO reasons.\n\n1. Replace **Sample Shipment Outcomes** with your own courier delivery report - include ALL shipments (Delivered and RTO), not just the RTO ones, since the rate needs both.\n2. Open **Analyze RTO Patterns** and adjust `RTO_RATE_THRESHOLD` (default 30%) to flag pincodes/SKUs worth investigating.\n3. **Filter: Flagged Pincodes/SKUs** outputs just the ones over threshold.\n4. **Summary** gives the overall RTO rate, top return reasons, and the flagged lists.",
        "height": 240,
        "width": 780
      },
      "id": "04bb5e00-160b-460f-bb26-87e0820f21f4",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -200,
        -60
      ]
    }
  ],
  "connections": {
    "When clicking \"Execute workflow\"": {
      "main": [
        [
          {
            "node": "Sample Shipment Outcomes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sample Shipment Outcomes": {
      "main": [
        [
          {
            "node": "Analyze RTO Patterns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze RTO Patterns": {
      "main": [
        [
          {
            "node": "Filter: Flagged Pincodes/SKUs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  }
}