payment-gateway-tdr-audit/n8n-workflow/dispute_email_drafter_workflow.json
{
  "name": "Payment Gateway TDR Audit - Dispute Email Drafter",
  "nodes": [
    {
      "parameters": {},
      "id": "bcf7b5c1-78af-4c12-b2ab-f2074f72b5b7",
      "name": "When clicking \"Execute workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// This is normally the \"Filter: Overcharged Only\" output from the Payment Gateway TDR Audit workflow.\n// Sample cases below match what that workflow finds on its own sample data.\nconst overcharges = [\n  { transactionId: \"TXN90001\", paymentMethod: \"UPI\", actualTotalDeduction: 12.60, expectedTotalDeduction: 4.60, variance: 8.00 },\n  { transactionId: \"TXN90002\", paymentMethod: \"Credit Card\", actualTotalDeduction: 98.08, expectedTotalDeduction: 53.08, variance: 45.00 },\n  { transactionId: \"TXN90007\", paymentMethod: \"Credit Card\", actualTotalDeduction: 151.31, expectedTotalDeduction: 91.31, variance: 60.00 },\n  { transactionId: \"TXN90012\", paymentMethod: \"Credit Card\", actualTotalDeduction: 206.80, expectedTotalDeduction: 116.80, variance: 90.00 },\n];\nreturn overcharges.map(o => ({ json: o }));"
      },
      "id": "3725a5af-dd5e-4e76-b48c-e9f31b3565f5",
      "name": "Sample Overcharged Transactions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        40,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const s = item.json;\n  const subject = `Settlement Dispute - ${s.transactionId} - ${s.paymentMethod} Overcharge of Rs ${s.variance}`;\n  const body = `Hi Team,\\n\\nWe've identified a settlement discrepancy on transaction ${s.transactionId} (${s.paymentMethod}):\\n` +\n    `- Actual Deduction: Rs ${s.actualTotalDeduction}\\n` +\n    `- Expected Deduction (per our contracted TDR rate): Rs ${s.expectedTotalDeduction}\\n` +\n    `- Overcharge: Rs ${s.variance}\\n\\n` +\n    `Please review and process a refund/credit for the difference.\\n\\nThanks,\\n[Your Name]`;\n  return { json: { ...s, emailSubject: subject, emailBody: body } };\n});"
      },
      "id": "82eeceda-9627-425e-b0d2-1cec0a7ee400",
      "name": "Draft Individual Dispute Emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        340,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\nconst totalOvercharge = Math.round(items.reduce((s,i)=>s+i.variance,0) * 100) / 100;\nconst lines = items.map(i => `- ${i.transactionId} (${i.paymentMethod}): Actual Rs ${i.actualTotalDeduction}, Expected Rs ${i.expectedTotalDeduction}, Overcharge Rs ${i.variance}`).join('\\n');\nconst subject = `Monthly Settlement Dispute - ${items.length} Overcharged Transactions - Rs ${totalOvercharge} Refund Requested`;\nconst body = `Hi Team,\\n\\nOur monthly settlement audit found ${items.length} transactions overcharged, totaling Rs ${totalOvercharge} in disputed deductions:\\n\\n${lines}\\n\\nPlease review and process a refund/credit for the total overcharge amount.\\n\\nThanks,\\n[Your Name]`;\nreturn [{ json: { emailSubject: subject, emailBody: body, totalCases: items.length, totalOvercharge } }];"
      },
      "id": "dc80a7d9-ab8c-4600-806c-9aee052e1d45",
      "name": "Draft Consolidated Dispute Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        340,
        440
      ]
    },
    {
      "parameters": {
        "content": "## Payment Gateway Dispute Email Drafter\n\nTakes the overcharged-transaction list (from the Payment Gateway TDR Audit workflow's \"Filter: Overcharged Only\" output) and drafts dispute email text - one per transaction, plus one consolidated monthly email.\n\n1. Replace **Sample Overcharged Transactions** with the real output of the audit workflow (or a Google Sheets/HTTP node reading your own flagged list).\n2. Connect a **Gmail/Outlook/SMTP** node after either drafting node to actually send - this workflow only drafts, it never sends anything on its own.",
        "height": 200,
        "width": 760
      },
      "id": "c3e1504e-4ca2-4b59-98c6-0fa2b1015d62",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -200,
        -60
      ]
    }
  ],
  "connections": {
    "When clicking \"Execute workflow\"": {
      "main": [
        [
          {
            "node": "Sample Overcharged Transactions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sample Overcharged Transactions": {
      "main": [
        [
          {
            "node": "Draft Individual Dispute Emails",
            "type": "main",
            "index": 0
          },
          {
            "node": "Draft Consolidated Dispute Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  }
}